@import 'normalize.css';

:local(.className) {
  font: 16pt Lato, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    margin: -1em 0 1em;
  }
}
