@import 'normalize.css';

:local(.className) {
  font: 16pt Lato, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .controls {
    margin: -1em 0 1em;
  }

  .instructions {
    margin-left: 2em;

    .red, .blue {
      margin: .5em;
    }
    .red { color: hsl(0, 50%, 75%) }
    .blue { color: hsl(230, 50%, 75%) }
  }
}
